!!!
%html
  %head
    %meta{content: 'text/html', charset: 'UTF-8', 'http-equiv': 'Content-Type'}/
    %title ChatSpace

  %body
    #wrapper
      = render "/shared/side_bar"
      = render "/shared/header"
    #chat
      = render @messages
    = render "/shared/footer"
