!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    #group-header
      .group-left
        .group-name
          sampleグループ
        .group-members
          Members: seo neko

      .edit-button
        .button-name
          =link_to "Edit"

    #chat
      .chat__comment1
        .member
          seo
        .chat__time
          2016/09/21 06:16:55
        .comment
          Hello world!

      .chat__comment2
        .member
          neko
        .chat__time
          2016/09/22 06:16:55
        .comment
          Good by world!

    #footer
      .message-area
        %form{:action => "/", :method => "post"}
          %input{:name => "comment", :placeholder => "type a message", :class => "comment-form"}
          .image-form
            %label.upload-label
              %i.fa.fa-picture-o
              %input{:type => "file", :class => "upload-icon"}


      .send-button
        =link_to "Send"
