#group-header
  .group-left
    .group-left__name
      sampleグループ
    .group-left__members
      Members: seo neko

  .edit-button
    .edit-button__name
      =link_to "Edit"

#chat
  .comment
    .comment__member
      seo
    .comment__time
      2016/09/21 06:16:55
    .comment__text
      Hello world!

  .comment
    .comment__member
      neko
    .comment__time
      2016/09/22 06:16:55
    .comment__text
      Good by world!

#footer
  .message-area
    =form_tag('/') do
      =text_field_tag 'message', '', {class: "comment-form", placeholder: "type a message"}
      .image-form
        %label.upload-label{for: "upload-icon"}
          %i.fa.fa-picture-o
          = file_field_tag "image", id: "upload-icon", style: "display:none;"


  .send-button
    =link_to "Send"
