@import "./mixin/mixin";

#wrapper {
  height: 100%;
  width: 100vw;
}

#body {
  float: left;
  width: calc(100vw - 300px);
  #group-header {
    padding-top: 35px;
    padding-left: 40px;
    padding-bottom: 2px;
    font-size: 20px;
    float: left;
    .group-name {
      font-size: 20px;
      color: #333333;
      padding-bottom: 15px;
    }
    .group-members {
      font-size: 12px;
      color: #999999;
    }
  }


  .edit-button {
    float: right;
    margin: 28px 40px;
    .button-name {
      a {
        color: #38AEF0;
        text-decoration: none;
        border: 1px solid #38AEF0;
        padding: 11px 20px;
        text-align: center;
      }
    }
  }

  #chat {
    height: calc(100vh - 90px - 146px);
    padding-top: 46px;
    padding-left: 40px;
    clear: both;
    background-color: #FAFAFA;
    .chat__comment1 {
      @include comment-style;
    }
    .chat__comment2 {
      @include comment-style;
    }
  }

  #footer {
    height: 50px;
    background-color: #dddddd;
    padding: 20px 50px 20px 40px;
    .message-area {
      form {
        input {
          &::placeholder {
            color: #434A54;
            padding-left: 10px;
          }
          &[class="comment-form"] {
            height: 50px;
            width: calc(100% - 150px);
            border: none;
          }
        }
      }
    }
    .send-button {
      float: right;
      position: relative;
      bottom: 37px;
      a {
        padding: 17px 30px;
        color: #ffffff;
        background-color: #38AEF0;
        text-align: center;
        text-decoration: none;
      }
    }
  }

}

