#wrapper {
  height: 100%;
  width: 100vw;
}


  #group-header {
    height: 100px;
    padding: 0 40px;
    float: left;
    width: $rightContentsWidth;
    .group-left {
      float: left;
      padding-top: 35px;
      .group-name {
        font-size: 20px;
        color: #333333;
        padding-bottom: 15px;
      }
      .group-members {
        font-size: 12px;
        color: #999999;
      }
    }

    .edit-button {
      float: right;
      margin-top: 28px;
      .button-name {
        a {
          color: $buttonAndInfoColor;
          text-decoration: none;
          border: 1px solid $buttonAndInfoColor;
          padding: 11px 20px;
          text-align: center;
        }
      }
    }
  }

  #chat {
    width: $rightContentsWidth;
    height: calc(100vh - 90px - 146px);
    padding: 46px 40px 0 40px;
    float: left;
    background-color: #FAFAFA;
    .chat__comment1 {
      @include comment-style;
    }
    .chat__comment2 {
      @include comment-style;
    }
  }
