  #footer {
    height: $formHeight;
    width: calc(100vw - 390px);
    background-color: #dddddd;
    padding: 20px 50px 20px 40px;
    float: left;
    .message-area {
      .comment-form {
      padding: 0 10px;
      float: left;
      height: $formHeight;
      width: calc(100% - 170px);
      border: none;
      &::placeholder {
        color: #434A54;
      }
    }
      .image-form {
        line-height: 50px;
        .upload-label {
          float: left;
          padding-right: 10px;
          background-color: #ffffff;
          .hidden {
            display: none;
          }
        }
      }
    }
    .send-button {
      line-height: 50px;
      float: right;
      padding: 0px 30px;
      margin-left: 15px;
      height: $formHeight;
      color: #ffffff;
      background-color: $buttonAndInfoColor;
      text-decoration: none;
    }
  }

