@mixin comment-style {
  margin-bottom: 40px;
  &__member {
    float: left;
    margin-right: 10px;
    color: #434A54;
    }
  &__time {
    float: left;
    font-size: 12px;
    color: #999999;
  }
  &__text {
    .message_content {
      clear: both;
      font-size: 14px;
      color: #434A54;
    }
  }
}
