!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ChatSpace
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
  #wrapper
    #header
      .user__name
        seo
        .font-awesome__user
          %ul.font-awesome__user--list
            %li.font-awesome--create-group.font-color
              =link_to do
                =fa_icon 'edit'
            %li.font-awesome--edit-user.font-color
              =link_to do
                =fa_icon 'cog'

    #navbar
      .group
        .group__name
          sample
        .group--last-message
          Good by world!
